<footer class="site-footer h-card" style="background-color: #e0e1e1;">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>



    <div class="footer-col-wrapper">

      <div class="wrapper">
      
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          {%- include social.html -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <p>&copy; 2024 Chaoyi Hu. All rights reserved.</p>
      </div>

      <div class="footer-col footer-col-3">
        {{- site.description | escape -}}
      </div>

    </div>

  </div>

</footer>
